
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}

body{
height: 100%;
margin: 0;

}

main {
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;

  scroll-behavior: smooth;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.disable-scroll {
  overflow: hidden;
}

/* Style the custom scrollbar */
main::-webkit-scrollbar {
  width: 10px; /* Adjust as needed */
}

main::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* Hide the native scrollbar */
main::-webkit-scrollbar-track {
  background-color: transparent;
}

section {
  height: 100vh;
  scroll-snap-align: center;
  scroll-behavior: smooth;
  overflow: hidden;

}

@media screen and (max-width: 800px) {
 
}

html{
  
}






/* ------------------------------------------------------------------------------------------------------ */
/* Navbar */ 

#navbar{
  background: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.3s;
}

.navbar__container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: white;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
}

#navbar__logo:hover {
  color: #1349D1;
}

.navbar__menu{
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item{
  height: 80px;  
}

.navbar__links{
color: white;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 0rem;
display: inline-block;
padding: 2rem;
position: relative;
}

.navbar__links:after{
background: none repeat scroll 0 0 transparent;
bottom: 0;
content: "";
display: block;
height: 2px;
left: 50%;
position: absolute;
background: #779ECB;
transition: width 0.3s ease 0s, left 0.3s ease 0s;
width: 0;
}

.navbar__links:hover{
color: #779ECB;
}

.navbar__links:hover:after{
width:100%;
left:0;
}

@media screen and (max-height: 300px) {
ul {
  margin-top: 40px;
}
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

.navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
}

.navbar__menu.active {
  background: #131313;
  top: 100%;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 99;
  height: 60vh;
  font-size: 2vh;
}

#navbar__logo {
  padding-left: 25px;
  
}

.navbar__toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: #fff;
}

.navbar__item {
  width: 100%;
}

.navbar__links {
  text-align: center;
  
  width: 100%;
  display: table;
  color: #779ECB ;
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80px;
  margin: 0;
}

#mobile-menu {
  position: absolute;
  top: 20%;
  right: 5%;
  transform: translate(5%, 20%);
}

.navbar__toggle .bar {
  display: block;
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
  
}

#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
}

/* ------------------------------------------------------------------------------------------------------ */
/* Intro */


.intro {
  margin: 0 auto;
  background-attachment: fixed;
  height: 90%;
  text-align: center;
  padding: 30px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  
}

.video-bg{
  object-fit: cover;
  filter: brightness(60%);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
.video-bg {
  height: 150vh;
}

}

.viewport-header {
position: relative;
text-align: center;
display: flex;

justify-content: center;
align-items: center;
}


h1 {
border-right: solid 3px white;
white-space: nowrap;
overflow: hidden;   

font-family: "Monaco", monospace; 

color: #D3D6D7;
}


h1 {
  
  
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid; 
  font-family: "Monaco", monospace;           
  font-size: 4.5vw;
  display: inline;
  text-align: center;
  display: inline;
  
}

.center{
  text-align: center;
}

.typewriter{
  text-align: center;
  display: inline-block;

}

.typewriter h1 {
  overflow: hidden; 
  border-right: .15em solid white;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: 2px; 
  animation: 
    typing 3s steps(33, end),
    blink-caret .75s steps(70, end) infinite;
  text-align: center;
  display: inline-block;
}


@-webkit-keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@-webkit-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white;}
}


h2{
  color: #D3D6D7;
  font-size: 1.8rem;
  padding-top: 9rem;
  position: absolute;
}



#home {
  height: 100vh;
  position: relative;
}

.styled-link {
  position: relative;
  color: white;
  text-decoration: underline;
  z-index: 1; /* Set z-index to ensure text is above the pseudo-element */
}

.styled-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: white;
    border-radius: 3px;
    transition: height 0.5s, color 0.5s; /* Added color transition */
    z-index: -1; /* Set z-index to position behind the text */
}

.styled-link:hover {
    color: black; /* Change text color to black on hover */
}

.styled-link:hover::before {
    height: 100%;
}


/* ------------------------------------------------------------------------------------------------------ */
/* About */

h3{
  font-size: 2.3rem;
}

.about-me-section {
  background-color: black;
  color: white;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-wrapper{
  text-align: left;
  max-width: 40%;
}


.about-me-paragraph{
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

.profile-picture{
  padding: 5rem;
}

.profile-picture img{
  width: 20rem;
  border-radius: 20px;
}
.buttoncontain{
    
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center vertically if needed */
  margin-top: 10px; /* Adjust the margin as needed */
}

.fa {
  padding: 8px;
  font-size: 20px;
  border-radius: 0.8rem;
  margin: 0;
  }

.fa-linkedin {
  background: #007bb5;
  color: white;
  }
  
  .fa-github {
  background: #bd2c00;
  color: white;
  }

.social-button {
  display: flex; /* Add this to align button contents */
  margin: 0 5px; /* Add space between the buttons */
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.social-button a:hover {
  background: white; /* Change color on hover (LinkedIn) */
  color: black;
  transition: 0.5s smooth;
}

@media (max-width: 768px) {
    .about-me-section {
      flex-direction: column; /* Change to column layout on smaller screens */
      height: auto; /* Allow the section to expand vertically as needed */
      padding: 20px; /* Add padding for spacing */
  }

  .profile-picture,
  .about-wrapper {
     margin-top: 20px;
      text-align: center; /* Center align both image and text on smaller screens */
      width: 100%; /* Full width for both image and text */
      max-width: none; /* Remove max-width to allow full width */
      padding: 0; /* Remove padding to avoid excessive spacing */
  }

  .about-wrapper {
      margin-top: 20px; /* Add some margin between image and text */
  }

  .about-me-paragraph{
    margin-top: 0.5rem;
    padding: 15px;
    font-size: 1rem;
  }
}





   

  /* ------------------------------------------------------------------------------------------------------ */
/*Projects*/

.project-section{
  height: auto;
  background-color: black;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}


.project-wrapper{
  margin-top: 8rem;
  width: 100%;
  text-align: center;
}

.project-wrapper h4{
 color: white;
 font-size: 2rem;

 margin-bottom: 3rem;

}

.card-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px; /* Adjust the gap between cards */
}

.card-container {
  background-color: black; /* Changed background color to black */
  border-radius: 15px;
  border: 2px groove rgba(255, 255, 255, 0.2); /* Added white border */
  color: white; /* Changed text color to white */
  padding-top: 30px;
  position: relative;
  width: 375px;
  max-width: 100%;
  text-align: center;
  transition: border 0.7s ease;
}

.card-container:hover {
  border: 2px groove white; /* Added white border */
}

.card-container h3{
 font-size: 1.2rem;
 margin-top: 2rem;
}

.card-text{
  padding: 10px;
}

.card-contents{
  padding: 15px;
  font-size: 0.9rem;
}

.card-container img{
  height: 180px;
  border-radius: 15px;
}

.skills {
	background-color: black;
	text-align: left;
	padding: 15px;
  border-radius: 15px;
	margin-top: 30px;
  padding-bottom: 30px;
}

.skills ul {
	list-style-type: none;
	margin-top: 0.5rem;
	padding: 0;
}

.skills h6{
  font-size: 1rem;
}

.skills ul li {
	border: 1px solid #779ECB;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

.card-button{
  
  margin-top: 1rem;
  margin: 0.2rem;
display: inline-block;
padding: 15px 25px;
font-size: 16px;
text-align: center;
text-decoration: none;
cursor: pointer;
border-radius: 6px;
background-color: black;
border: 1px solid #779ECB;
color: white;
transition: background-color 0.3s ease, color 0.3s ease;
}
.card-button:hover{
  background-color: white;
  color: black;
}




  /* ------------------------------------------------------------------------------------------------------ */
/*Contact*/

.header2{
font-size: 2.4rem;
  color: white;
  position: relative;
  display: inline-block;
  margin-bottom: 8rem;
  text-decoration: underline;
}

h5{
  color: white;
  font-size: 5rem;
}

/* Base button styles */
.emailbutton {
margin-top: 2.5rem;
display: inline-block;
padding: 30px 50px;
font-size: 16px;
text-align: center;
text-decoration: none;
border: none;
cursor: pointer;
border-radius: 6px;
background-color: black;
color: white;
transition: background-color 0.8s ease, color 0.8s ease;
}

/* Button hover styles */
.emailbutton:hover {
  background-color: white;
  color: black;
}

